.Catalog {
    z-index: 999;
    border: 1px solid $border-color;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $background-color;
    margin: 0 auto;
    height: 100%;
    transition: 200ms linear;

    li {
        &:hover {
            a {
                color: $accent-color
            }
        }
    }

    .activeType {
        color: $accent-color;
    }

    .list {
        flex: 1;

        @media (max-width:700px) {
            grid-template-columns: 1fr !important;
        }
    }
}