.Catalog {
    z-index: 999;
    border: 1px solid $border-color;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $background-color;
    max-width: 60vw;
    margin: 0 auto;
    height: 80vh;
    transition: 200ms linear;

    li {
        &:hover {
            a {
                color: $accent-color
            }
        }
    }

    .activeType {
        color: $accent-color;
    }
}