.Card {
    width: 100%;
    max-width: 250px;

    video,
    img {
        aspect-ratio: 9 / 10;
        object-fit: cover;


        &:hover {
            transition: box-shadow .2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
    }

    .fav {
        transform: translateY(-150%);
        transition: 150ms ease-in-out;
    }

    &:hover {
        .fav {
            display: flex;
            transform: translateY(0);
        }
    }
}