.Card {

    video,
    img {
        height: 400px;
        width: 100%;
        object-fit: cover;


        &:hover {
            transition: box-shadow .2s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    .fav {
        transform: translateY(-150%);
        transition: 150ms ease-in-out;
    }

    &:hover {
        .fav {
            display: flex;
            transform: translateY(0);
        }
    }
}