.GalleryCarousel {

    .bigImg {
        object-fit: cover;
        width: 80vw;
        height: 600px;
    }

    .smallImg {
        width: 100px;
        height: 50px;
        object-fit: cover;
    }
}