.Navbar {
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $background-color;
    z-index: 10;
    position: relative;

    // background-color: $accent-color;
    .logo {
        height: 100px;
        width: auto;
        object-fit: cover;
    }

    .actions {

        a {
            border: 1px solid $border-color;
            border-radius: 10px;
            height: 50px;
            min-width: 50px;
            padding: 10px;
            color: $primary-color;
        }
    }

    .catalogBtn {
        background-color: $accent-color;
    }
}