.Details {
    .topLine {
        .actions {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: oklch(55.1% 0.027 264.364);

                &:hover {

                    p,
                    svg {
                        color: $accent-color;
                    }
                }
            }
        }
    }

    .info {
        border: 1px solid $border-color;
        max-width: 400px;
        min-width: 400px;
        height: fit-content;

        .price {
            border-bottom: 1px solid $border-color;
        }

        img {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 50%;
            object-position: center;
            margin-right: 10px;
        }
    }

    .intro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


        @media (max-width:1200px) {
            grid-template-columns: 1fr
        }

        .gallery {
            grid-column: 1 / 3;
            grid-row: 1;
        }

    }

    .contacts {
        .phone {
            background-color: $action-color;
        }
    }

    .offer {
        border: 1px solid $accent-color;
        transition: 100ms linear;

        &:hover {
            background-color: $accent-color;
            color: #fff;
        }
    }

    .detailTexts {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width:1200px) {
            grid-template-columns: 1fr
        }

        section {
            grid-column: 1 / 3;
            grid-row: 1;
        }

        .detailsList {}
    }

    .description {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;


    }
}